<div class="row-fluid">
  <div class="span3">
    <div class="well">
      <form method="POST" action="/link/create">
        <fieldset>
          <div id="legend">
            <legend>Refreshing Links</legend>
          </div>
          <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input01">Title</label>
            <div class="controls">
              <input type="text" placeholder="What is it?" class="input-block-level" id="title" name="title"> 
            </div>
          </div>
          <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input01">URL</label>
            <div class="controls">
              <input type="text" placeholder="http://" class="input-block-level" id="url" name="url">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
            <!-- Textarea -->
            <label class="control-label">More Info</label>
            <div class="controls">
              <div class="textarea">
                <textarea type="" style="margin-left: 0px; margin-right: 0px;" class="input-block-level" id="description" name="description"></textarea>
              </div>
            </div>

            <div class="controls">
              <button class="btn btn-primary btn-block" type="submit">Share Link</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="span9">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Shared Links</a>
          <ul class="nav"></ul>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 well">
        <div class="row-fluid">
          <div class="span2">
            <a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail">
              <img src="http://critterapp.pagodabox.com/img/user.jpg" alt="">
            </a>
            <p class="label user-name">Justin Obney</p> 
          </div>
          <div class="span10">
            <strong><a href="http://google.com">A new thing called google?</a></strong>
            <br>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 well">
        <div class="row-fluid">
          <div class="span2">
            <a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail">
              <img src="http://critterapp.pagodabox.com/img/user.jpg" alt="">
            </a>
            <p class="label user-name">Justin Obney</p> 
          </div>
          <div class="span10">
            <strong><a href="http://google.com">A new thing called google?</a></strong>
            <br>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12 well">
        <div class="row-fluid">
          <div class="span2">
            <a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail">
              <img src="http://critterapp.pagodabox.com/img/user.jpg" alt="">
            </a>
            <p class="label user-name">Justin Obney</p> 
          </div>
          <div class="span10">
            <strong><a href="http://google.com">A new thing called google?</a></strong>
            <br>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
