<script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
<script src="http://javascriptmvc.com/jquery/dist/jquery.view.ejs.min.js"></script>

<div class="row" id="links">
      <%- partial('sharedLinks', {links: slots.links}) %>
</div>
<script>
  socket.on('link:imageUpdate', function (data) {
    
    // { objectId: "KB1p3sKD3j",  imageUrl: "http://files.parse.com/SOME_GUID-FILE_NAME.jpg" }
    var selector = '#link_' + data.objectId;
    $(selector).find('.website-preview').attr('src', data.imageUrl);
    setTimeout(function(){ $('#links').isotope( 'reLayout', $.noop ); }, 1000);
  });

  socket.on('link:linkAdded', function (data) {
    //$('#newLinkForm').after('/static/templates/link.ejs', data);
    var item = $.View('/static/templates/link.ejs', data);
    $('#links').isotope( 'insert', $(item) );
    $('#links').isotope( 'updateSortData', $('.item') );
    setTimeout(function(){
      $('#links').isotope( 'reLayout', $.noop );
    }, 1000);
  });

  setTimeout(function(){
    var links = $('#links');
    // Isotopize the posts.
    links.isotope({
      itemSelector : '.item',
      getSortData : {
        date : function ( $elem ) {
          return new Date( $elem.data('created') );
        }
      },
      sortBy : 'date',
      sortAscending : false
    });
  }, 500);

    //Full code for copy pasters
  $(function(){
      //Comment for this section above
      var delay = 40, delayTime;
      $(document).on('click', '.base-button', function(){
        var el = $(this);
        var btns = el.closest('.container-circle').find('.circle-btn');
        // if not open
        if ( !el.hasClass('open') ) {
          el.addClass('open');
          btns.each(function(i){
            var ele = $(this);
            delayTime = i * delay;      
            window.setTimeout(function(){
              ele.addClass('open');
            }, delayTime);
          });
        } else { 
        // if open
          el.removeClass('open');
          $($(btns).get().reverse()).each(function(i){
            //This is the same
            var ele = $(this);
            delayTime = i * delay;
            //ditto
            window.setTimeout(function(){
              //Now let remove the class 'open'
              ele.removeClass('open');
            }, delayTime);   
          });
        }
      });
  })


</script>
