h1 {
	padding-bottom: 10px;
}

.fontello[class^="icon-"],.fontello[class*=" icon-"] {
	width: initial;
}

.btn-block {
	display: block;
	width: 100% !important;
	padding-left: 0;
	padding-right: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

[class^="icon-"],[class*=" icon-"] {
	margin-top: 0 !important;
}

.user-name {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #bb0001;

	background-image: -webkit-linear-gradient(top, #cf0001, #9c0001);
	background-image: -moz-linear-gradient(top, #cf0001, #9c0001);
	background-image: -o-linear-gradient(top, #cf0001, #9c0001);
	background-image: -ms-linear-gradient(top, #cf0001, #9c0001);
	background-image: linear-gradient(top, #cf0001, #9c0001);
	-image background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcf0001', endColorstr='#ff9c0001', GradientType=0);
	border-color: #9c0001 #9c0001 #500001;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-align: center;
}

.user-name:hover {
	color: #ffffff;
}

.user-image {
	height: 30px;
	width: 30px;
	border-radius: 20px;
	margin: -5px 5px 0 0;
}

/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-o-transition-property: height, width;
	-ms-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {

	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-ms-transition-duration: 0s;
	transition-duration: 0s;
}

.preview-wrapper {
	position: relative;
}

/*  Circle buttons */
/* Move whole container to bottom left corner */
.circle-mod {
	position: absolute;
	bottom: 0;
	left: 10px;
}

.item:hover .container-circle {
	display: block;
}

.item:hover .overlay {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.overlay {
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

/* Make a relative container */
.container-circle {
	display: none;
	position: relative;
	height: 75px;
	width: 100px;
}

/*Create my base button*/
.base-button {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
	height: 40px;
	width: 40px;
	background: #ddd; /* Some extra styles, add -webkit prefix to work on most mobile browsers */

-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
	padding: 0;
}

/* Generic button and center position */
.circle-btn {
	position: absolute;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 25px;
	top: 5px;
	left: 5px;
	background: #ccc; /* Essential to the animation */

-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	-o-transition: all 250ms;
	-ms-transition: all 250ms;
	transition: all 250ms; /* Same as above */

-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}

.circle-btn a {
	padding-left: 4px;
}

.button-1.open {
	top: -90px;
	left: 20px;
}

.button-2.open {
	top: -70px;
	left: 75px;
}

.button-3.open {
	top: -35px;
	left: 115px;
}

.button-4.open {
	top: 10px;
	left: 140px;
}

.button-5.open {
	left: 175px;
	top: 25px;
}

.base-button div {
	margin: 4px;
	height: 30px;
	width: 30px;
	background: #db3a2b;

	background: -webkit-linear-gradient(top, #db3a2b 0%, #cf0404 100%);
	background: -moz-linear-gradient(top, #db3a2b 0%, #cf0404 100%);
	background: -o-linear-gradient(top, #db3a2b 0%, #cf0404 100%);
	background: -ms-linear-gradient(top, #db3a2b 0%, #cf0404 100%);
	background: linear-gradient(top, #db3a2b 0%, #cf0404 100%);
	/* -image filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3a2b', endColorstr='#cf0404',GradientType=0 ); */
	border-radius: 45px;
	border: 1px solid #cf0404;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	padding: 0;
}

.base-button div span {
	height: 30px;
	display: block;

	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-o-transition: all 400ms;
	-ms-transition: all 400ms;
	transition: all 400ms;

	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.base-button.open div span {
	-webkit-transform: rotate(765deg);
	-moz-transform: rotate(765deg);
	-o-transform: rotate(765deg);
	-ms-transform: rotate(765deg);
	transform: rotate(765deg);
}

.circle-btn.facebook a {
	color: #FFF;
}

.circle-btn.facebook {
	background: rgb(50, 3, 202);
}

.circle-btn.twitter a {
	color: #FFF;
}

.circle-btn.twitter {
	background: rgb(3, 178, 202);
}

.circle-btn.like a {
	color: #FFF;
}

.circle-btn.like {
	background: rgb(202, 3, 3);
}

.circle-btn.share a {
	color: #FFF;
}

.circle-btn.share {
	background: rgb(0, 0, 0);
}

#newLinkForm .well {
	border-color: #A30101;
	background: #F8F8F8;
}
