<div class="row">
	<div class="span2">
		<img class="user-image" src="http://critterapp.pagodabox.com/img/user.jpg" alt="" data-email="<%= chat.user.email %>">
		<%= chat.user.displayName %>
	</div>
	<div class="span2">
		<%= chat.time.toString() %>
	</div>
	<div class="span8">
		<%= chat.body %>	
	</div>
</div>
